version: '3'

volumes:
    letsencrypt:
    nextcloud:
    redis:

networks:
    nextcloud:

services:
    proxy:
        image: staticfloat/nginx-certbot
        ports:
            - 80:80
            - 443:443
        environment:
            CERTBOT_EMAIL: eknowlton@gmail.com
            ENVSUBST_VARS: FQDN
            FQDN: nextcloud.knowlton.dev
        volumes:
            - ./conf.d:/etc/nginx/user.conf.d:ro
            - letsencrypt:/etc/letsencrypt
            - nextcloud:/var/www/html
        restart: unless-stopped

    db:
        image: mariadb
        environment:
            - MYSQL_ROOT_PASSWORD=secretpassword
            - MYSQL_PASSWORD=secretpassword
            - MYSQL_DATABASE=nextcloud
            - MYSQL_USER=nextcloud
        volumes:
            - ./mysql:/var/lib/mysql
        restart: unless-stopped
        command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-file-per-table=1 --skip-innodb-read-only-compressed

    app:
        image: nextcloud:fpm
        links:
            - db
        environment:
            - MYSQL_DATABASE=nextcloud
            - MYSQL_USER=nextcloud
            - MYSQL_PASSWORD=secretpassword
            - MYSQL_HOST=db
            - REDIS_HOST=redis
        volumes:
            - nextcloud:/var/www/html
            - ./app/data:/var/www/html/data
            - ./app/config:/var/www/html/config
        restart: unless-stopped

    redis:
        image: redis:latest
        restart: always
        volumes:
            - redis:/var/lib/redis
